* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}


.ads {
    height: 1.4rem;
    background-color: black;
}
.navbar {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logo {
    width: 50%;
    font-family: 'Adamina', serif;
}
.navbar-logo p{
    font-size: 1.5rem;
    padding-left: 3rem;
    text-transform: uppercase;
}
.navbar-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
    
}
.navbar-links a {
    font-size: .8rem;
    font-family: 'Libre Franklin', sans-serif;
    padding-left: 1.5rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.main {
    height: auto;
    width: 100%;
    padding: 1.5rem;
}

.form-subtitle {
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    font-family: 'Libre Franklin', sans-serif;
}
.form-subtitle p {
    color: red;
    font-weight: 600;
    font-size: x-large;
}
.form-row {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.form-row-child {
    width: 50%;
    height: 100%;
    padding: 2.5rem 1.5rem 0 1.5rem;
}
.half-form {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
}
.half-form-left {
    height: 100%;
    padding-left: 1.5rem;
    margin: 0 1.5rem 0 0;
    width: 50%;
    display: inline-block;
}
.half-form-right {
    height: 100%;
    padding-right: 1.5rem;
    margin: 0 0 0 1.5rem;
    width: 50%;
    display: inline-block;
}
.half-form-subtitle {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Libre Franklin', sans-serif;
}
.half-form-subtitle p {
    color: red;
    font-weight: 600;
    font-size: x-large;
}
.half-form-child {
    padding-bottom: 1.5rem;
}
.half-form-right-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5rem;
    margin: 0 0 0 1.5rem;
    width: 50%;
    height: 100%;
    display: inline-block;
}
.half-form-child-2 {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.my-btn {
    padding: .6rem 3rem;
    margin: 5rem;
}
.my-btn-2 {
    padding: .6rem 3rem;
    margin: 2.5rem 1.5rem;
}
.employees {
    padding: 1.5rem;
}
.edit-icon:hover {
    color: gray;
    cursor: pointer;
}

.form-sample {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.form1 {
    width: 50%;
}

.form-row-child1 {
    height: 100%;
    padding: 2.5rem 1.5rem 0 1.5rem;
}

